/* src/App.css */
body {
  font-family: 'Mulish', sans-serif;
}
body, html {
  margin: 0;
  padding: 0;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
}

.heading {
  text-align: center;
  font-size: 2rem;
  margin: 30px 0 10px;
  font-weight: 800;
  font-family: 'Mulish', sans-serif;
}

@media (max-width: 768px) {
  .card-container {
    grid-template-columns: 1fr;
    padding: 20px;
  }
}
